@charset "UTF-8";
@font-face { 　font-family: SignPainter; 　src: local(ttc), url(../fonts/SignPainter.ttc); 　font-weight: HouseScript; }

.navbar .logo a, .portfolio .icon a { display: inline-block; }

.navbar .wrap::after, .navbar::after, main .item_group::after, footer ul::after { content: ""; display: block; clear: both; }

/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

html { color: #151514; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Microsoft JhengHei"; }

a { text-decoration: none; }

.wrap { width: 100%; margin: 0 auto; }

@media (min-width: 0) { .wrap { min-width: 0; } }

@media (min-width: 576px) { .wrap { max-width: 576px; } }

@media (min-width: 768px) { .wrap { max-width: 768px; } }

@media (min-width: 992px) { .wrap { max-width: 992px; } }

@media (min-width: 1200px) { .wrap { max-width: 1200px; } }

.navbar { position: fixed; background-color: rgba(255, 255, 255, 0.85); top: 0; right: 0; left: 0; z-index: 10; }

.navbar .wrap { width: calc(100% - (15px * 2)); }

.navbar .logo { float: left; font-size: 0; }

.navbar .logo a { font-size: 40px; font-family: "SignPainter"; margin: 18px 0; color: #000; }

@media (min-width: 768px) { .navbar .logo a { margin: 48px 0; font-size: 50px; } }

.navbar nav { text-align: right; font-size: 0; }

.navbar nav a { display: block; position: relative; font-size: 14px; text-transform: uppercase; letter-spacing: 2px; text-align: center; margin: 26px 0; padding: 20px; color: #000; }

@media (min-width: 768px) { .navbar nav a { display: inline-block; margin: 46px 0; } }

.navbar nav a::after { content: ""; position: absolute; left: 20px; right: 20px; bottom: 12px; border-bottom: 2px solid #d7be77; opacity: 0; -webkit-transition: opacity 1s; transition: opacity 1s; }

.navbar nav a:hover::after { opacity: 1; }

.navbar nav a.active::after { opacity: 1; }

.sidebar { font-size: 20px; padding: 18px 0; color: #000; }

.navbar_nav { display: none; }

@media (min-width: 768px) { .navbar_nav { display: block; } }

.mobile { display: block; }

@media (min-width: 768px) { .mobile { display: none; } }

.desktop { display: none; }

@media (min-width: 768px) { .desktop { display: block; } }

.welcome .container { background-image: url("../../file/priscilla-du-preez-SLB48wK26Og-unsplash.jpg"); background-position: center center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; }

.welcome h1 { font-size: 35px; text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); text-align: center; line-height: 1.2; color: #fff; padding: 189px 0; font-weight: lighter; }

@media (min-width: 768px) { .welcome h1 { font-size: 40px; } }

@media (min-width: 992px) { .welcome h1 { font-size: 50px; } }

.welcome strong { font-weight: 800; }

main { margin-top: 76px; }

@media (min-width: 768px) { main { margin-top: 150px; } }

main section { text-align: center; }

@media (min-width: 768px) { main section { margin-bottom: 60px; } }

main .container { padding: 60px 15px; }

@media (min-width: 768px) { main .container { padding-left: 30px; padding-right: 30px; } }

main .item { float: left; text-align: center; }

.category { font-family: "SignPainter"; font-size: 30px; letter-spacing: 1px; text-transform: capitalize; }

.category::after { content: ""; display: block; width: 70px; height: 2px; background-color: #000; margin: 20px auto 0; }

.about .container { background-color: #f2f2f2; }

.about .item_group { margin-top: 35px; }

.about h2 { font-size: 25px; font-weight: bold; line-height: 1.2; }

.about p { max-width: 640px; margin: 0 auto; line-height: 2; margin-top: 35px; }

.skills .item_group { padding-top: 35px; }

@media (min-width: 768px) { .skills .item_group { padding-left: 60px; padding-right: 60px; } }

.skills .item { width: 100%; padding-left: 15px; padding-right: 15px; padding-bottom: 35px; }

@media (min-width: 768px) { .skills .item { width: calc(100% / 3); } }

.skills .pie { position: relative; width: 100px; height: 100px; border-radius: 50%; background: -webkit-gradient(linear, right top, left top, color-stop(50%, transparent), color-stop(0, #d7be77)), -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(0, #000)); background: linear-gradient(to left, transparent 50%, #d7be77 0), linear-gradient(to right, transparent 50%, #000 0); margin: 0 auto 35px; }

.skills .pie::before { content: ""; display: block; margin-left: 50%; height: 100%; border-radius: 0 100% 100% 0 / 50%; background-color: #d7be77; -webkit-transform-origin: left; transform-origin: left; -webkit-transform: rotate(0.1turn); transform: rotate(0.1turn); }

.skills .pie::after { content: ""; display: block; background-color: #fff; border-radius: 50%; height: 80%; width: 80%; position: absolute; top: 10px; left: 10px; bottom: 0; right: 0; z-index: 10; }

.skills .pie_num { position: absolute; font-size: 40px; font-weight: bold; top: 50%; left: 50%; z-index: 20; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.skills .pie_num span { font-size: 1rem; }

.skills .pie1::before { content: ""; -webkit-transform: rotate(-0.9turn); transform: rotate(-0.9turn); }

.skills .pie2::before { content: ""; -webkit-transform: rotate(-0.75turn); transform: rotate(-0.75turn); }

.skills .pie3::before { content: ""; -webkit-transform: rotate(-0.55turn); transform: rotate(-0.55turn); }

.skills h3 { font-size: 25px; margin-bottom: 20px; }

.skills p { line-height: 1.2; }

.portfolio { background-color: #000; color: #fff; }

.portfolio .category::after { background-color: #fff; }

.portfolio .item_group { margin-top: 20px; }

.portfolio .item { width: 100%; margin-top: 15px; }

@media (min-width: 768px) { .portfolio .item { width: calc((100% - 30px) / 3); }
  .portfolio .item + .item { padding-left: 15px; }
  .portfolio .item:nth-child(3n-2) { padding-left: 0; } }

.portfolio .item_bg { height: 220px; background-color: #f2f2f2; background-repeat: no-repeat; background-position: center top; background-size: cover; position: relative; overflow: hidden; }

.portfolio .item_bg .item_cover { position: absolute; top: 10px; left: 10px; bottom: 10px; right: 10px; background-color: rgba(215, 190, 119, 0.85); opacity: 0; -webkit-transition: all 1s; transition: all 1s; }

.portfolio .item_bg:hover .item_cover { opacity: 1; }

.portfolio .icon { font-size: 0; position: absolute; margin: 0 auto; left: 0; right: 0; bottom: 30px; }

.portfolio .icon a { border: 3px solid; border-radius: 50%; padding: 10px; color: #fff; }

.portfolio .icon a + a { margin-left: 10px; }

.portfolio .icon i { font-size: 20px; }

.contact .container { background-color: #f2f2f2; }

.contact .item_group { margin-top: 35px; padding-left: 15px; padding-right: 15px; }

.contact .email_group a.pokey_email { font-size: 29px; font-weight: bold; color: #000; display: block; margin-top: 15px; }

@media (min-width: 768px) { .contact .email_group a.pokey_email { display: inline; margin-left: 15px; } }

.contact input, .contact textarea, .contact button { width: 100%; border-width: 0px; padding: 10px; }

@media (min-width: 768px) { .contact input, .contact textarea, .contact button { max-width: 600px; } }

.contact input, .contact textarea { margin-bottom: 10px; border-width: 0px; border-bottom: 1px solid; padding: 10px; }

.contact input:focus, .contact textarea:focus { outline: none; border-color: #d7be77; -webkit-box-shadow: 0 0 5px #d7be77; box-shadow: 0 0 5px #d7be77; }

.contact input { height: 50px; }

.btn { margin-top: 15px; font-size: 18px; background-color: #d7be77; color: #fff; border-width: 0px; padding: 10px; -webkit-transition: all 1s; transition: all 1s; }

.btn:hover { background-color: #151514; color: #d7be77; }

.p_demo { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: #fff; overflow-y: auto; z-index: 100; }

.p_demo .container { padding-top: 150px; }

.p_demo .p_btn_close { cursor: pointer; position: absolute; right: 32px; top: 32px; width: 32px; height: 32px; opacity: 0.3; }

.p_demo .p_btn_close::before, .p_demo .p_btn_close::after { content: ""; height: 33px; width: 2px; position: absolute; left: 15px; background-color: #333; }

.p_demo .p_btn_close::before { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.p_demo .p_btn_close::after { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.animated { opacity: 0; -webkit-transition: all 1.5s; transition: all 1.5s; -webkit-transform: translateY(50px); transform: translateY(50px); }

.fadeIn { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }

footer { background-color: #000; padding: 60px 0; font-size: 14px; line-height: 20px; color: #fff; }

footer .container { padding-left: 15px; padding-right: 15px; }

footer ul { text-transform: uppercase; text-align: center; }

footer li { padding-top: 5px; padding-bottom: 5px; }
/*# sourceMappingURL=all.css.map */